.menu-bar {
	margin-left: 0%;
	display: block;
}

.menu-bar li {
	margin-top: 25px;
	display: inline-block;
	margin-left: 165px;
}

.menu-bar li a {
	color: black;
	float: right;
	font-size: 20px;
	text-transform: uppercase;
	text-decoration: none;
	padding: 10px;
	border-radius: 10px;
}

.menu-bar li a:hover{
	background-color: rgb(155, 155, 155);
}