.content-form {
	margin: 10% 460px 0px 35%;
	padding: 48px 40px 36px 40px;
	display: block;
	border-radius: 15px;
	border: 5px solid black;
}

.content-form  h1 {
	margin-left: 200px;
	margin-bottom: 15px;
}

.input-and-info {
	width: 368px;
}

.input-email {
	margin: 1px 1px 0px 1px;
	width: 336px;
	height: 28px;
	font-size: 16px;
	border-radius: 4px;
	padding: 13px 15px 13px 15px;
}

.input-password {
	margin: 10px 1px 0px 1px;
	width: 336px;
	height: 28px;
	font-size: 16px;
	border-radius: 4px;
	padding: 13px 15px 13px 15px;
}

.group-accept-login {
	margin-top: 30px;
}

.create-account {
	text-decoration: none;
	font-family: roboto, "Noto Sans Myanmar UI", arial, sans-serif;
	color: black;
	padding: 10px;
	border-radius: 10px;
}

.accept-login {
	margin: 0px 0px 0px 150px;
	font-size: 14px;
	min-width: 400px;
	max-width: 300px;
}

.create-account:hover{
	background-color: rgb(155, 155, 155);
}

.error-msg {
	color: red;
	font-size: 19px;
	margin-left: 10px;
}

.succes-msg {
	color: green;
	font-size: 19px;
	margin-left: 10px;
}